@import "normalize.css";

:root {
    --text-nav-color: white;
    --text-body-color: rgba(0, 0, 0, 0.5);
    --main-theme-color: #8bc34a;
    --validate-theme-color: #8cc6f9;
    --update-theme-color: #d68cf9;
    --delete-theme-color: #f84a5e;
    --secondary-theme-color: rgb(159, 220, 244);
    --card-theme-color: rgb(248, 229, 198);
    --shadow-theme-color: rgb(217, 218, 219);
    --active-theme-color: gold;
}

/*** GLOBAL ***/
* {
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all .2s ease 0s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Visualisation des éléments */
    /* border: 1px dotted rgba(0,0,0,0.3); */
}

*:hover {
    transition: all .2s ease 0s;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--text-body-color);
}

/** Gestion du format mobile first **/
@media only screen and (max-width: 640px) {
    body {
        margin: 0;
        padding: 0;
        font-size: 1.4rem;
    }
}

.presentation {
    padding: 2rem;
}


/*** HEADER ***/
header {
    background-color: var(--main-theme-color);
}

header * {
    color: var(--text-nav-color);
    margin: 0 auto;
    text-align: center;
}

.header-nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

/** Gestion du format mobile first **/
@media only screen and (max-width: 640px) {
    .header-nav {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        font-size: 1.8rem;
    }
}

.header-nav a:hover {
    color: var(--active-theme-color);
}

header .active {
    color: var(--active-theme-color);
}

.header-nav a {
    position: relative;
}

/* Fonctionnalité affichant des lignes horizontales dessus et dessous le lien "a" de manière dynamique qui glisse d'où le nom attribué "surf" */
.surf a:before,
.surf a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: var(--active-theme-color);
    transition: all 0.5s;
}

.surf a:before {
    left: 0px;
    top: 0px;
}

.surf a:after {
    right: 0px;
    bottom: 0px;
}

.surf a:hover:before,
.surf a:hover:after {
    opacity: 1;
    width: 100%;
}


/*** ADMIN ACTIONS ***/

.lesson-form,
.quizz-form,
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choices-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
}

.creator-card {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
    width: 20vw;
    min-width: 200px;
    box-shadow: 5px 5px 15px 2px var(--shadow-theme-color);
    border-radius: 5px;
}


/** LESSON & QUIZZ **/

.lesson,
.quizz,
.quizz-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizz-choices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.quizz-choice {
    display: flex;
    justify-content: center;
}

.quizz-card {
    margin: 2rem;
    padding: 1rem;
    width: 40vw;
    min-width: 250px;
    box-shadow: 5px 5px 15px 2px var(--shadow-theme-color);
    border-radius: 5px;
}

.quizz-card p {
    margin: 0.5rem;
}

.checkbox {
    width: 1.6em;
    height: 1.6em;
    border: 0.15em solid;
    border-radius: 2px;
}

/*** Component CARD ***/

.lesson-list,
.quizz-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

li.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vw;
    min-width: 250px;
    box-shadow: 5px 5px 15px 2px var(--secondary-theme-color);
    transition: all 0.3s ease;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin: 1rem;
    background-color: var(--secondary-theme-color);
}

.card-flip {
    width: 25vw;
    min-width: 250px;
    box-shadow: 5px 5px 15px 2px var(--shadow-theme-color);
    transition: all 0.3s ease;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin: 1rem;
    background-color: var(--card-theme-color);
    transform-style: preserve-3d;
}

.card-flip:hover {
    transform: rotateY(180deg);
    background-color: var(--secondary-theme-color);
    cursor: pointer;
}

.card * {
    margin: 0;
}

.card-front {
    backface-visibility: hidden;
}

.card-back {
    backface-visibility: hidden;
    transform: rotateY(-180deg);
}

.details {
    display: flex;
    justify-content: center;
    color: var(--text-nav-color);
    margin: 1rem;
}


/*** FOOTER ***/

footer {
    background-color: var(--main-theme-color);
}

footer * {
    color: var(--text-nav-color);
    margin: 0 auto;
    text-align: center;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

/** Gestion du format mobile first avec adaptation au nombre de liens plus élevé que la nav **/
@media only screen and (max-width: 800px) {
    .footer-nav {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        font-size: 1.8rem;
    }
}

.footer-nav a:hover {
    color: var(--active-theme-color);
}

footer .active {
    color: var(--active-theme-color);
}

.footer-nav a {
    position: relative;
}


/*** LOGIN ***/

.login-teacher {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/** BUTTON **/

button {
    padding: 1rem 2rem;
    border-radius: 5px;
    margin: 1rem;
    background-color: var(--main-theme-color);
    color: var(--text-nav-color);
    border: none;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: var(--active-theme-color);
    color: var(--text-body-color);
}

button a {
    color: var(--text-nav-color);
}

button a:hover {
    color: var(--text-body-color);
}

.button-delete:hover {
    background-color: var(--delete-theme-color);
    color: var(--text-nav-color);
}
.button-update:hover {
    background-color: var(--update-theme-color);
    color: var(--text-nav-color);
}
.button-validate:hover {
    background-color: var(--validate-theme-color);
    color: var(--text-nav-color);
}

.home {
    background: url("../icons/home.svg");
}
