@import "normalize.css";
@import "mobile.css";
@import "tablet.css";

:root {
    --header-nav-color : white;
}

/*** GLOBAL ***/
* {
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	transition: all .2s ease 0s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	/* Visualisation des éléments */
	/* border: 1px dotted rgba(0,0,0,0.3); */
}

*:hover {
	transition: all .2s ease 0s;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.6rem;
	line-height: 1.6;
	color: rgba(0, 0, 0, 0.5);  
}


/*** HEADER ***/
header {
    background-color: #8bc34a;
}

header * {
    color: var(--header-nav-color);
    margin : 0 auto;
    text-align: center;
}

.header-nav {
    display: flex;
    justify-content: space-around;
    padding : 1rem;
}

.header-nav a:hover {
    color:gold;
}

header .active {
    color:gold;
}

.header-nav a {
    position: relative;
}

.surf a:before,
.surf a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: gold;
    transition: all 0.5s;
}

.surf a:before {
    left: 0px;
    top: 0px;
}

.surf a:after {
    right: 0px;
    bottom: 0px;
}

.surf a:hover:before,
.surf a:hover:after {
    opacity: 1;
    width: 100%;
}

/*** Component CARD ***/
.lesson-list,
.quizz-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.card, 
.card-flip {
    width: 25vw;
    border: solid 2px;
    border-radius: 1%;
    margin : 1rem;
    box-shadow: 5px 5px 15px 2px #aebfff;
    transition: all 0.3s ease;
    transform-style: preserve-3d; 
}

.card-flip:hover {
    transform: rotateY(180deg);
}

.card * {
    margin : 0;
}

.card-front {
    background: lightgreen;
    backface-visibility: hidden;
}

.card-back {
    background: skyblue;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
}

.details {
    display: flex;
    justify-content: center;
    
}

.details:hover{
    background-color: #aebfff;
    color:brown;
}

/*** FOOTER ***/

footer {
    background-color: #8bc34a;
}

footer * {
    color: var(--header-nav-color);
    margin : 0 auto;
    text-align: center;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    padding : 1rem;
}


/*** LOGIN ***/

.login-teacher {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*** ADD LESSON & QUIZZ ***/

.lesson-form,
.quizz-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}