@import "normalize.css";
@import "base.css";
@import "mobile.css";
@import "tablet.css";

/*** HEADER ***/
.nav {
    display: flex;
    justify-content: space-around;
    margin : 1rem 1rem;
}


/*** Component CARD ***/
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.card {
    max-width: 25vw;
    border: solid 2px;
    border-radius: 3%;
    margin : 1rem;
    box-shadow: 5px 5px 15px 2px #aebfff;
    transition: all 0.3s ease;
    transform-style: preserve-3d; 
}

.card:hover {
    transform: rotateY(180deg);
}

.card p, 
.card h2 {
    margin : 0.5rem;
}

.details-front {
    background: lightgreen;
    backface-visibility: hidden;
}

.details-back {
    background: skyblue;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
}